body{
   /*display: flex; 
   align-items: center;*/
   height: 80%;
   margin: 0;
}

.red-light,
.yellow-light,
.green-light {
    width: 100px;
    height: 100px;
    margin: 10px auto;
}

.trafikljus{
    display: flex;
    align-items: center;
    flex-direction: column;
    background-color: white;
    border-radius: 10px;
    padding: 10px;
}

.red-light{
    border: 15px solid rgb(117, 57, 57);
    background-color: red;
    position: relative;
}
.light1{
    width: 100%;
    height: 50%;
    background-color: rgb(225, 131, 124);
    position: absolute;
    bottom: 0;
    
    
}


.yellow-light{
    border: 15px solid rgb(114, 113, 55);
    background-color: yellow;
    position:relative
}

.light2{
    width: 40%;
    height: 40%;
    background-color: rgb(216, 230, 144);
    position: absolute;
    right: 0;
    bottom: 0;
    

}

.green-light{
    border: 15px solid rgb(36, 86, 36);
    background-color: green;
    position: relative;
}

.light3{
    width: 40%;
    height: 40%;
    background-color: rgb(95, 165, 74);
    position: absolute;
    left: 0;
    bottom: 0;
}